.fourth-block {
  background-image: url(../images/4_background.jpg);
  background-size: cover;
  position: relative;
  box-shadow: 0px 20px 20px 0px black inset, 0px -20px 20px 0px black inset;

  &__button {
    width: 45%;
    margin-top: -3%;
  }

  &__top {
    padding-top: 20%;
    padding-bottom: 30%;
    text-align: center;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    background-image: url(../images/4_text-bg.png);
    background-size: cover;
    padding: 5px;
    background-repeat: no-repeat;
  }

  &__link {
    text-align: center;
  }

}

.card {
  width: 16%;
  position: absolute;

  &__1 {
    top: 60%;
    left: 19%;
    z-index: 10;
  }

  &__2 {
    width: 13%;
    top: 53%;
    left: 30%;
    z-index: 9;
  }

  &__3 {
    width: 10%;
    top: 50%;
    left: 39%;
    z-index: 8;
  }

  &__4 {
    top: 60%;
    right: 20%;
    z-index: 7;
  }

  &__5 {
    width: 13%;
    top: 53%;
    right: 30%;
    z-index: 5;
  }

  &__6 {
    width: 10%;
    top: 50%;
    right: 39%;
    z-index: 4;
  }
}
